@model Instructor


<div class="container mt-3">
    <h2> Instructor Details</h2>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="~/Images/@Model.ImgURL" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">@Model.Address</p>
            @* <a href="#" class="btn btn-primary">Buy Now for @price</a> *@
        </div>
    </div>
</div>